.hero-image-container-scp
{
    width: 100%;
    height: 80vh;
    display: grid;
}
.hero-image-container-scp::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    opacity: 0.5;
    background-image: url('../Images/scp-001-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-image-container-scp::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 25%;
    top: 55%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}
.title-info-container
{
    width: 80vw;
    position: absolute;
    place-self: center;
    display: grid;
    grid-auto-flow: row;
    top: 60%;
    gap: 0.64rem;
    z-index: 98;
}
.title-info-container > span:nth-child(1)
{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.7;

}
.title-info-container > span:nth-child(2)
{
    font-size: 2.441rem;
    font-weight: 600;
    text-transform: capitalize;
}
.title-info-container > span:nth-child(3)
{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
    background-color: var(--accent-color);
    width: 4rem;
    text-align: center;
    padding-block: 0.16rem;
    border-radius: 2.441rem;
    color: var(--background-color);
}
.info-main
{
    width: 100%;
    display: grid;
}
.info-main > section 
{
    width: 100%;
    display: grid;
}
.info-main div 
{
    width: 80vw;
    place-self: center;
    padding-bottom: 3.8rem;
    min-height: 80vh;
}
.info-main div > h3 
{
    font-size: 2.441rem;
    text-transform: uppercase;
}
.info-main div > p 
{
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 500;
}
.description
{
    background-color: var(--accent-color);
    color: var(--background-color);
}
.description div > p 
{
    font-weight: 550;
    color: var(--background-color);
}
.description-container > p > span 
{
    text-decoration: underline;
}

#scp002::before
{
    background-image: url('../Images/SCP-002-Main_Image.jpg');
}
#scp003::before
{
    background-image: url('../Images/SCP-003-Main_Image.jpg');
}
#scp004::before
{
    background-image: url('../Images/SCP-004-Main_Image.jpg');
}
#scp005::before
{
    background-image: url('../Images/SCP-005-Main_Image.jpg');
}
#scp006::before
{
    background-image: url('../Images/SCP-006-Main_Image.jpg');
}